<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<!-- Console Appender -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{HH:mm:ss}] [%p] %c - %m%n"/>
		</Console>

		<!-- File Appender -->
		<File name="FileLogger" fileName="HOIIVUtils.log">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%p] %c - %m%n"/>
		</File>

		<!-- Custom Appender for UI -->
		<List name="GuiAppender">
			<PatternLayout pattern="[%d{HH:mm:ss}] [%p] - %m%n"/>
		</List>
	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="FileLogger"/>
			<AppenderRef ref="GuiAppender"/>
		</Root>
	</Loggers>
</Configuration>