<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<!-- Console Appender -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<!-- File Appender (Overwrites on Startup) -->
		<RollingFile name="File" fileName="latest.log"
					 filePattern="logs/archive-%d{yyyy-MM-dd-HH-mm-ss}.log">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy/> <!-- Overwrites the log on every launch -->
			</Policies>
		</RollingFile>
	</Appenders>

	<Loggers>
		<Root level="ERROR"> <!-- Find a way to personalize this setting -->
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</Root>
	</Loggers>
</Configuration>
